      {{!--displays our genre of topics  --}}
      <div class="row">
    <div class="col s12 m6">
      <div class="card purple darken-4">
        <div class="card-content white-text">
          <h3><span class="card-title">{{genre_name}}</span></h3>
          {{#each sub_genres}}
          <p>{{subgenre_name}}</p>
  {{/each}}
        </div>
      </div>
    </div>
  </div>