<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
         <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
       <link href="/css/materialize.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Planet X</title>
{{!-- main page derr --}}

</head>
<body class="grey darken-4">
    <header>
 <nav class="nav-extended purple darken-4">
    <div class="nav-wrapper">
      <a href="/universe" class="brand-logo">Welcome to Planet X</a>
      {{!-- <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a> --}}
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="/">Homepage</a></li>
        {{#if loggedIn}}
        <li class="tab"><a class="active" href="/mothership">Mothership</a></li>
        <li class="tab"><a id="warp" >Warp Speed</a></li>
        <li class="tab"><a id="logout" href="/login">Log Out</a></li>
        {{else}}
  <li class="tab"><a href="/login">Login</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>
  </header>
        <main>
            {{{ body }}}
        </main>

     <script type="text/javascript" src="js/materialize.min.js"></script>
     {{#if loggedIn}}
     <script src="/js/logout.js"></script>
          <script src="/js/randomizer.js"></script>
     {{/if}}
</body>
</html>