{{!-- homepage --}}
<div class="header center-align">
    <h2>Welcome Explorer!</h2>
</div>
<div class="galaxy-container center-align">
    <div>
    <h3 class="galaxies">Most Visited Galaxies </h3>
    </div>
    <div>
        {{#each subgenres}}

        {{> galaxies}}
    

        {{/each}}

        
    </div>
</div>

<script src="/js/subBtn.js"></script>