{{!-- homepage --}}
<div class="header">
    <h2>Welcome Explorer!</h2>
</div>
<div class="galaxy-container">
    <div>
    <h3 class="galaxies">Most Visited Galaxies {{subgenre_name}} </h3>
    </div>
    <div>
        {{#each sub_genre}}

        {{!-- {{> galaxies}} --}}
        <h4> this is working</h4>

        {{/each}}

        
    </div>
</div>