{{!-- login/signup page  --}}

<div class="row">
    <h2 class="grey-text text-lighten-5">Welcome Back Explorer!</h2>

    <form id="login-form" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Explorer" id="email-login" type="email" class="validate">
          <label for="username">Explorer</label>
        </div>
      </div>
     
      <div class="row">
        <div class="input-field col s12">
          <input id="password-login" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
       <button class="btn waves-effect waves-light left" type="submit" name="action">Submit</button>
    </form>
    
<h2 class="grey-text text-lighten-5">Explore The Cosmos!</h2>

      <form id="signup-form" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Explorer" id="username-signup" type="text" class="validate">
          <label for="username">Explorer</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email-signup" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
     
      <div class="row">
        <div class="input-field col s12">
          <input id="password-signup" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
       <button class="btn waves-effect waves-light left" type="submit" name="action">Submit</button>
    </form>
  </div>

  <script src="/js/login.js"></script>