<div class="header center-align">
    <h2>My Moments </h2>

</div>


<div class="galaxy-container center-align " id="photo-list"</div>
    <div>


        <h3 class=> </h3>
        <img src={{description}} alt=”Image” height=auto width=800>



    </div>
</div>

</div>
<script src="/js/photos.js"></script>