{{!-- post page displaying all comments for this post and allowing user to comment on post --}}

<section>
    <href href="/post/{{moon.id}}">
    <header>{{moon.title}}</header></href>
    <p class="" id={{moon.id}}>{{moon.content}}</p>
</section>
<div>

    
<label for="comment-space">Flags:</label>
<textarea class="new-comment" name="comment" id="comment" cols="30" rows="10" placeholder="Plant Your Flag..."></textarea>
</div>
<div>
<button id="sub-btn" type="submit">submit</button>
</div>
<section>
{{#each comment.content as |comment|}}
{{> comment-details}}
{{!-- display all comments from partials --}}
{{/each}}
</section>

<script src="/public/js/add-Comment.js"></script>