      {{!--displays our moons  --}}
      <div class="row ">
    <div class="col s12 m6 ">
      <div class="card purple darken-4">
        <div class="card-content white-text">
          <h3><span class="card-title">This is moon</span></h3>
          {{#each topics}}
          <button type="submit" class="btn {{subgenre_name}}" id="{{id}}" value='{{id}}'>{{topic}}</button>
  {{/each}}
        </div>
      </div>
    </div>
  </div>