{{!-- homepage --}}
<div class="header center-align">
    <h2>My Moments </h2>
    <button id="upload_widget" class="cloudinary-button">Upload files</button>
</div>


<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>

{{#if photo.length}}
<div class="galaxy-container center-align " id="photo-list"</div>
    <div>
        {{#each photo}}

        <h3 class=> </h3>
        <img src={{description}} alt=”Image” height=200 width=200>

        <button data-id="{{id}}" class="cloudinary-button">delete</button>

        {{/each}}

    </div>
</div>
{{/if}}
</div>
<script src="/js/photos.js"></script>